.header {
  isolation: isoalte;
  position: sticky;
  z-index: 1;
  top: 0;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  & * {
    position: relative;
  }
}

.header--cushioned {
  top: -48px;
  padding-top: calc(48px + 8px);

  @media (max-width: calc(1000 / 16 * 1rem)) {
    top: 0;
    padding-top: 8px;
  }
}

.header__frosted-glass {
  position: fixed;
  inset: 0;
  height: 148px;
  background: linear-gradient(
    to bottom,
    var(--color-background) 0%,
    transparent 50%
  );
  backdrop-filter: blur(4px);
  mask-image: linear-gradient(to bottom, black 0% 50%, transparent 50% 100%);
  pointer-events: none;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    height: 162px;
  }
}

.header__spacer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 36px;
  height: 36px;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    display: none;
  }
}

.header__lightbulb {
  width: 36px;
  height: 36px;
  top: 4px;
}

.header__lightbulb-cord {
  position: absolute;
  background: var(--color-text);
  width: 2px;
  height: 128px;
  left: 17px;
  top: -126px;
}

.header__lightbulb-inner {
  position: absolute;
  width: 24px;
  height: 23px;
  top: 13px;
  left: 6px;
}

.header__lightbulb-outer {
  position: absolute;
  width: 36px;
  height: 36px;
}

.header__title {
  transition: transform 300ms;

  &:hover,
  &:focus {
    transition: transform 150ms;
    transform: scale(1.01);
  }
}

.header__title-anchor {
  color: inherit;
  text-decoration: none;
  font-size: calc(32 / 16 * 1rem);
  font-weight: var(--weight-bold);
  white-space: nowrap;
}

.header__nav {
  color: var(--color-grey900);
  display: flex;
  gap: 48px;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    display: none;
  }
}

.header__nav-link {
  position: relative;
  color: inherit;
  text-decoration: none;
  font-weight: var(--weight-semibold);
  font-size: calc(20 / 16 * 1rem);
  transition: transform 100ms;

  &:hover,
  &:focus {
    transition: transform 150ms;
    transform: scaleY(1.02);
  }

  &:hover::after,
  &:focus::after {
    color: var(--color-text);
    top: 100%;
    opacity: 1;
    transition:
      top 250ms ease-out,
      opacity 300ms ease-out;
  }

  &::after {
    content: "";
    position: absolute;
    top: 90%;
    left: -5%;
    width: 110%;
    height: 3px;
    background: var(--color-primary);
    transition:
      top 0ms 400ms,
      opacity 400ms;
    border-radius: 32px;
    opacity: 0;

    @media (max-width: calc(1000 / 16 * 1rem)) {
      display: none;
    }
  }
}

.header__nav-link--mobile {
  display: block;
  font-size: calc(32 / 16 * 1rem);
  padding: 12px;
  width: 100%;
  text-align: center;
}

.header__mobile-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  height: 100%;
  max-height: 100%;
  border: none;
  background: var(--color-background);
  width: clamp(316px, 80%, 616px);
  margin-right: -16px;
  color: var(--color-grey900);

  transition:
    display 500ms allow-discrete,
    overlay 500ms allow-discrete;

  &[open] {
    display: flex;
    flex-direction: column;
  }

  &::backdrop {
    --full-opacity: 0.5;
    background-color: var(--color-grey500);
    animation: fadeOut 300ms ease-out forwards;
  }

  &[open]::backdrop {
    animation: fadeIn 500ms ease-out forwards;
  }

  @media (prefers-reduced-motion: no-preference) {
    animation: horizontalSlideOut 250ms ease-out forwards;
    &[open] {
      animation: horizontalSlideIn 300ms cubic-bezier(0, 0.6, 0.32, 1.06)
        backwards;
      animation-delay: 100ms;
    }
  }
}

.header__mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  flex: 4;
}

.header__mobile-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  transform: translateY(-64px);
  gap: 48px;
}

.header__buttons {
  color: var(--color-grey900);
  display: flex;
  justify-content: flex-end;
  gap: 16px;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    display: none;
  }
}

.header__button {
  border: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
  color: inherit;
  padding: 0;
  transition: transform 100ms;

  display: flex;
  align-items: baseline;
  gap: 8px;
  font-weight: var(--weight-semibold);
  font-size: calc(20 / 16 * 1rem);

  &:hover,
  &:focus {
    color: var(--color-text);
    transform: scaleY(1.01);
    transition: transform 200ms;
    transition-delay: 100ms;
  }

  &:focus {
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:hover .header__icon {
    transform: scale(1.01) translateY(-1px);
    transition: transform 200ms;
  }
}

.header__button--mobile {
  align-self: flex-end;
  display: none;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    display: revert;
  }
}

.header__button--close {
  color: var(--color-grey900);

  position: absolute;
  top: 8px;
  right: 24px;
}

.header__button--mobile-menu {
  translate: revert;
  display: flex;
  font-size: calc(32 / 16 * 1rem);
  margin-left: -16px;
}

.header__icon {
  width: 28px;
  height: 28px;
  align-self: center;
  transition: transform 100ms;
}

.header__icon--mobile {
  width: 44px;
  height: 44px;
}
