.project {
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    padding-top: 32px;
  }
}

.project__page-title {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 24px 32px;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    display: flex;
    flex-direction: column-reverse;
    gap: revert;
  }
}

.project__details {
  order: 1;
}

.project__title {
  font-size: calc(48 / 16 * 1rem);
  font-weight: var(--weight-bold);
  color: var(--color-text);
  transform: translateY(-11px);
}

.project__description {
  font-size: calc(20 / 16 * 1rem);
  font-weight: var(--weight-medium);
  color: var(--color-grey500);
  transform: translateY(-12px);
}

.project__key-technologies {
  color: var(--color-grey900);
  font-size: calc(20 / 16 * 1rem);
  font-weight: var(--weight-medium);

  @media (max-width: calc(1000 / 16 * 1rem)) {
    font-size: calc(24 / 16 * 1rem);
  }
}

.project__tech {
  display: flex;
  justify-content: space-between;
  height: 128px;
  padding-top: 8px;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    justify-content: flex-start;
    gap: 48px;
  }

  @media (max-width: calc(600 / 16 * 1rem)) {
    justify-content: space-between;
    gap: revert;
  }
}

.project__icon {
  width: 56px;
  height: 56px;
}

.project__icon--oracle {
  width: 100px;
}

.project__tech-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
}

.project__tech-text {
  font-size: calc(16 / 16 * 1rem);
  font-weight: var(--weight-regular);
  color: var(--color-grey500);
  white-space: nowrap;
}

.project__video {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow);
  opacity: 1;
}

:root[playing-mode="paused"] .project__video {
  opacity: 0.75;
}

.project__video-button {
  border: none;
  background: transparent;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 250ms;
  color: hsl(46deg 33% 92%);
}

.project__video-button-icon {
  margin: auto;
  width: 64px;
  height: 64px;
}

.project__video-wrapper {
  position: relative;

  &:hover .project__video-button {
    opacity: 1;
    transition: opacity 200ms;
  }
}

.project__caption {
  padding-top: 16px;
  font-size: calc(16 / 16 * 1rem);
  font-weight: var(--weight-regular);
  color: var(--color-grey300);
  text-align: center;
}

.project__caption--video {
  padding-top: 8px;
}

.project__section {
  display: grid;
  gap: 24px 32px;
  font-size: calc(20 / 16 * 1rem);
  font-weight: var(--weight-medium);
  color: var(--color-grey500);
  grid-template-columns: [title-start] 4fr [title-end contents-start] 6fr [contents-end];

  @media (max-width: calc(1000 / 16 * 1rem)) {
    display: flex;
    flex-direction: column;
  }
}

.project__section-title {
  position: sticky;
  top: 72px;
  grid-column: title;
  grid-row: 1 / -1;
  font-size: calc(20 / 16 * 1rem);
  font-weight: var(--weight-medium);
  color: var(--color-grey700);

  @media (max-width: calc(1000 / 16 * 1rem)) {
    font-size: calc(24 / 16 * 1rem);
    font-weight: var(--weight-semibold);
    color: var(--color-grey900);
  }
}

.project__section-content {
  grid-column: contents;
}

.full-bleed .project__section-contents {
  margin-top: -8px;
}

.project__section-image {
  position: relative;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.project__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    margin-top: 48px;
  }

  @media (max-width: calc(600 / 16 * 1rem)) {
    margin-top: 32px;
  }
}

.project__nav-link {
  text-decoration: none;
  color: var(--color-text);
  font-size: calc(40 / 16 * 1rem);
  font-weight: var(--weight-bold);
  letter-spacing: -2%;
  text-wrap: nowrap;

  transition: transform 300ms;
  &:hover,
  &:focus {
    transition: transform 150ms;
    transform: scale(1.01);
  }
}

.project__nav-link--disabled {
  pointer-events: none;
  color: var(--color-grey300);
}
