.hero {
  display: flex;
  align-items: center;
  padding-top: 176px;
  padding-bottom: 176px;
  justify-content: space-between;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 64px;
    padding-bottom: 64px;
    gap: 64px;
  }

  @media (max-width: calc(600 / 16 * 1rem)) {
    padding-top: 48px;
    padding-bottom: 48px;
    gap: 48px;
  }
}

.hero__text {
  max-width: 360px;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    max-width: revert;
  }
}

.hero__hello {
  font-weight: var(--weight-medium);
  color: var(--color-grey900);
  font-size: calc(20 / 16 * 1rem);
}

.hero__job-role {
  font-weight: var(--weight-bold);
  line-height: 1.1;
  letter-spacing: -3%;
  font-size: calc(72 / 16 * 1rem);
  transform: translateX(-4px);
}

.hero__description {
  font-weight: var(--weight-medium);
  color: var(--color-grey500);
  font-size: calc(20 / 16 * 1rem);
  line-height: 1.5;
  padding-top: 8px;
  max-width: 320px;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    max-width: revert;
  }

  @media (max-width: calc(600 / 16 * 1rem)) {
    max-width: 320px;
  }
}

.hero__image-wrapper {
  position: relative;
  aspect-ratio: 491 / 388;
  width: 491px;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    align-self: center;
    width: 80%;
  }

  @media (max-width: calc(600 / 16 * 1rem)) {
    width: 95%;
  }
}

.hero__image {
  position: absolute;
  border-radius: 100px;
  object-fit: cover;
  box-shadow: var(--shadow);
}

.hero__image--blurred {
  filter: blur(40px);
  transform: scale(1.05);
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 64px;

  & section {
    scroll-margin-top: 72px;
  }
}

.sections__heading {
  font-weight: var(--weight-bold);
  font-size: calc(48 / 16 * 1rem);
  letter-spacing: -2%;
  padding-bottom: 16px;

  &::after {
    content: ".";
    color: var(--color-primary);
  }
}

.about {
  font-weight: var(--weight-medium);
  font-size: calc(20 / 16 * 1rem);
  color: var(--color-grey900);

  & p:not(:last-of-type) {
    padding-bottom: 24px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projects__project {
  padding-top: 12px;
  display: flex;
  gap: 16px;
  align-items: center;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    flex-direction: column-reverse;
  }
}

.projects__image {
  position: relative;
  flex: 1;
  aspect-ratio: 490 / 376;
  max-height: 392px;
  border: 2px solid var(--color-grey700);
  border-radius: 16px;
  box-shadow: var(--shadow);

  @media (max-width: calc(1000 / 16 * 1rem)) {
    margin-top: 16px;
    max-height: revert;
    width: 85%;
  }

  @media (max-width: calc(600 / 16 * 1rem)) {
    margin-top: 8px;
    width: 100%;
  }
}

.projects__details {
  display: flex;
  flex: 1;
  gap: 8px;
  flex-direction: column;
  border-top: 2px solid var(--color-grey700);

  @media (max-width: calc(1000 / 16 * 1rem)) {
    width: 100%;
  }
}

.projects__name {
  padding-top: 32px;
  font-size: calc(32 / 16 * 1rem);
  font-weight: var(--weight-semibold);
  color: var(--color-grey900);

  @media (max-width: calc(1000 / 16 * 1rem)) {
    padding-top: 16px;
  }

  @media (max-width: calc(600 / 16 * 1rem)) {
    padding-top: 8px;
  }
}

.projects__description {
  padding-bottom: 8px;
  font-size: calc(20 / 16 * 1rem);
  font-weight: var(--weight-medium);
  color: var(--color-grey500);
}

.projects__buttons {
  display: flex;
  gap: 16px;
}

.contact {
  display: flex;
  align-items: baseline;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    flex-direction: column;
    gap: 32px;
  }
}

.contact__socials {
  flex: 4;
  color: var(--color-grey700);
}

.contact__heading {
  font-size: calc(32 / 16 * 1rem);
  color: var(--color-grey900);
  margin-bottom: 2px;
}

.contact__list {
  display: flex;
  flex-direction: column;
  gap: 2px;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    margin-top: 8px;
    gap: 8px;
  }
}

.contact__social {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: calc(20 / 16 * 1rem);
  transition: transform 100ms;

  &:hover,
  &:focus {
    color: var(--color-text);
    transform: scaleY(1.02);
  }

  &:not(:last-of-type) {
    padding-bottom: 2px;
  }

  &:hover .contact__icon {
    transform: scale(1.01) translateY(-1px);
    transition: transform 200ms;
  }
}

.contact__icon {
  transition: transform 400ms;
  width: 28px;
  height: 28px;
}

.contact__text {
  position: relative;
  font-weight: var(--weight-medium);
}

.contact__squiggly {
  position: absolute;
  height: 5px;
  transform: scaleX(-1) translateY(-5px);
}

.contact__form-wrapper {
  flex: 6;
  container-type: inline-size;
  box-shadow: var(--shadow);
  border-radius: 16px;

  /* Optical alignment with contact email */
  transform: translateY(5px);

  @media (max-width: calc(1000 / 16 * 1rem)) {
    transform: revert;
    flex-basis: 376px;
    width: 100%;
  }
}

.contact__form {
  height: 376px;
  border: 2px solid var(--color-grey700);
  border-radius: 16px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "name email" "message message" "send send";
  padding: 8px 16px;

  @container (max-width: 600px) {
    height: calc(376px + 80px);
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "name" "email" "message" "send";
  }
}

.contact__field {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  padding: 8px;
}

.contact__message-field {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.contact__name {
  grid-area: name;
}

.contact__email {
  grid-area: email;
}

.contact__message {
  grid-area: message;
}

.contact__label {
  display: block;
  font-size: calc(20 / 16 * 1rem);
  font-weight: var(--weight-semibold);
  color: var(--color-grey900);
}

.contact__input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid var(--color-grey700);
  font-size: calc(20 / 16 * 1rem);
  font-weight: var(--weight-medium);
  color: inherit;
}

.contact__textarea {
  background: none;
  border: 2px solid var(--color-grey700);
  border-radius: 8px;
  flex: 1;
  font-size: calc(20 / 16 * 1rem);
  font-weight: var(--weight-medium);
  resize: none;
  color: inherit;
}

.contact__submit {
  position: relative;
  grid-area: send;
  margin: 8px;
  width: 135px;
  color: var(--color-background);
  background: var(--color-text);
}

.footer {
  margin-top: 128px;
  padding-bottom: 32px;
  width: 100%;
  border-top: 2px solid var(--color-grey300);
  display: flex;
  justify-content: space-between;
  font-size: calc(20 / 16 * 1rem);
  font-weight: var(--weight-regular);
  color: var(--color-grey300);

  @media (max-width: calc(1000 / 16 * 1rem)) {
    padding-bottom: 16px;
    margin-top: 96px;
    justify-content: space-around;
  }

  @media (max-width: calc(600 / 16 * 1rem)) {
    margin-top: 64px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}

.footer__icons {
  padding-top: 16px;
  display: flex;
  gap: 16px;

  @media (max-width: calc(1000 / 16 * 1rem)) {
    flex-direction: column;
  }
}

.footer__link {
  display: flex;
  gap: 6px;
  text-decoration: none;
  color: inherit;
  transition: color 250ms;

  &:hover {
    color: var(--color-grey700);
    transform: scaleY(1.01);
    transition:
      color 100ms,
      transform 100ms;
  }

  &:hover .footer__icon {
    transition: transform 200ms;
    transform: scale(1.02) translateY(-1px);
    transition-delay: 50ms;
  }
}

.footer__icon {
  width: 28px;
  height: 28px;
  transition: transform 300ms;
}

.footer__icon--wave {
  position: relative;
  margin-right: 2px;
  top: -1px;
}

.footer__icon--axe {
  position: relative;
  top: -6px;
  margin-right: -3px;
  width: 38px;
  height: 38px;
}

.footer__icon--github {
  position: relative;
  top: -2px;
  width: 32px;
  height: 32px;
}
