.max-width-wrapper {
  position: relative;
  max-width: min(100%, 1100px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: calc(1000 / 16 * 1rem)) {
  .max-width-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: calc(600 / 16 * 1rem)) {
  .max-width-wrapper {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.accent {
  color: var(--color-primary);
}

:root {
  --spring-easing: linear(
    0,
    0.009,
    0.035 2.1%,
    0.141,
    0.281 6.7%,
    0.723 12.9%,
    0.938 16.7%,
    1.017,
    1.077,
    1.121,
    1.149 24.3%,
    1.159,
    1.163,
    1.161,
    1.154 29.9%,
    1.129 32.8%,
    1.051 39.6%,
    1.017 43.1%,
    0.991,
    0.977 51%,
    0.974 53.8%,
    0.975 57.1%,
    0.997 69.8%,
    1.003 76.9%,
    1.004 83.8%,
    1
  );
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(var(--offset, -8px));
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.slide-in {
  /* To stop snapping to pixels after the animation finishes. */
  will-change: transform;
  animation: slideIn var(--duration, 600ms) var(--ease-function, ease-out)
    backwards;
  animation-delay: var(--delay, 0);
}

:root[color-mode="dark"] .light-mode-only {
  display: none;
}

:root[color-mode="light"] .dark-mode-only {
  display: none;
}

:root[sound-mode="muted"] .sound-on-only {
  display: none;
}

:root[sound-mode="sound"] .sound-muted-only {
  display: none;
}
