.max-width-wrapper {
  position: relative;
  max-width: min(100%, 1100px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: calc(1000 / 16 * 1rem)) {
  .max-width-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: calc(600 / 16 * 1rem)) {
  .max-width-wrapper {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.accent {
  color: var(--color-primary);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(var(--offset, -8px));
  }

  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.slide-in {
  animation: slideIn 600ms ease-out backwards;
  animation-delay: var(--delay, 0);
}

:root[color-mode="light"] .light--hidden {
  display: none;
}

:root[color-mode="dark"] .dark--hidden {
  display: none;
}